<nav class="nav header__nav">
  <ul class="nav__list">
    <li class="nav__item"><a href="{{ metadata.youtube }}" target="_blank" class="nav__link">youtube</a></li>
    <li class="nav__item"><a href="{{ metadata.telegram }}" target="_blank" class="nav__link">telegram</a></li>
    <li class="nav__item"><a href="/devs/" target="_blank" class="nav__link">разработки</a></li>
  </ul>
</nav>
